@model IEnumerable<AlvoCifras.Models.Lyrics>

@{
    ViewData["Title"] = "Index";
}

<!doctype html>
<html lang="en">
@Html.Partial("_Head_Admin")

<body>
    @Html.Partial("_Header_Admin")

    <div class="container-fluid">
        <div class="row">
            @Html.Partial("_Nav_Admin")

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Letras</h1>
                </div>

                <p>
                    <a asp-action="Create">Cadastrar Letra</a>
                </p>

                <input type="text" id="myInput" onkeyup="SearchData()" placeholder="Escreva o nome da Música" title="Procurar">

                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Artist)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedAt)
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Artist.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </main>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @Html.Partial("_Scripts")

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Icons -->
    <script>
        feather.replace()
    </script>
</body>
</html>